// Here you can add other styles
$lvt-orange: #ED4E03;
$lvt-gray: #212121;
$lvt-gray2: #23282c;
$lvt-dark: #181b1e;
.rug .rug-handle{
    height: 200px !important;
}
.rug .rug-handle svg.rug-handle-icon{
    width: 25px !important;
}
.rug .rug-handle .rug-handle-info .rug-handle-drop-text {
    font-size: 15px !important;
}
.rug .rug-handle .rug-handle-info span {
    padding: 6px 0 !important;
    font-size: 15px !important;
}
.rug .rug-handle:before{
    border: 1px solid $lvt-gray !important;
}
.rug .rug-handle-button{
    background-color: $lvt-gray !important;
}
.rug .rug-handle-button:hover{
    background-color: $lvt-orange !important;
}
.lvt-card .lvt-data-value{
    margin-bottom: 0px;
}
.lvt-card .lvt-data-field{
    margin-top: 0px;
    color: $lvt-orange;
}
.lvt-card .lvt-img-container{
    max-width: 100%;
    position: relative;
    height: 200px;
    overflow: hidden;
}
.lvt-card .lvt-img{
    max-width: 100%;
    height: auto;
}
.lvt-card .lvt-data-flag{
    font-size: 10px;
}
.sidebar .nav-link:hover{
    background-color: $lvt-orange !important;
}
.btn-dark:hover{
    background-color: $lvt-orange !important;
}
.lvt-link-1,
.lvt-link-1:hover{
    text-decoration: none;
    color: inherit;
}

.lvt-bg-gray{
    background-color: $lvt-gray;
}
.lvt-bg-gray2{
    background-color: $lvt-gray2;
}
.lvt-bg-orange{
    background-color: $lvt-orange;
}